.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
}

.modal {
    background: $light-blue;
    color:$off-white;
    text-align: center;
    max-width: 30rem;
    outline: none;
    padding:$l-size;
    word-break: break-all;
}